<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikasi Presensi</title>
    <!-- Core CSS - Include with every page -->
    <link rel="icon" type="image/png" href="assets/img/IconLogo.png" />
    <link href="assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/main-style.css" rel="stylesheet" />
    <script src="assets/scripts/angular.min.js"></script>
    <script src="assets/scripts/angular-route.js"></script>

</head>

<body class="body-Login-back" ng-app="Ctrl" ng-controller="LoginController">

    <div class="container" ng-init="Init()">

        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center logo-margin ">
                <img src="assets/img/LogoJayapura.png" alt="" width="120px" />
            </div>
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" ng-model="DataLogin.Email" autofocus value="kristt26@gmail.com">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" ng-model="DataLogin.Password" value="12345">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <a href="" class="btn btn-lg btn-success btn-block" ng-click="Loggin()">Login</a>
                                <a href="" class="btn btn-lg btn-success btn-block" ng-click="Absen()">Absen</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Core Scripts - Include with every page -->
    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="assets/plugins/metisMenu/jquery.metisMenu.js"></script>

    <script>
        angular.module("Ctrl", [])
            .controller("LoginController", function($scope, $http) {
                $scope.DataLogin = {};
                $scope.DataMac = {};
                $scope.Init = function() {
                    var Urlauth = "api/datas/getMac.php";
                    $http({
                            method: "get",
                            url: Urlauth
                        })
                        .then(function(response) {
                            $scope.DataMac = response.data;
                            alert(response.data.MacAddress);


                        }, function(error) {
                            alert(error.message);
                        })
                }
                $scope.DataLogin = {};
                $scope.Loggin = function() {
                    var Data = $scope.DataLogin;
                    var Urlauth = "api/datas/login.php";
                    $http({
                        method: "post",
                        url: Urlauth,
                        data: Data
                    }).then(function(response) {
                        if (response.data.records[0].Jabatan == "Admin") {
                            window.location.href = 'index.html';
                        } else {
                            window.location.href = 'pegawai.html';
                        }
                    }, function(error) {
                        alert(error.message);
                    });
                }

                $scope.Absen = function() {
                    $scope.DataLogin.MacAddress = $scope.DataMac.MacAddress;
                    $scope.DataLogin.Keterangan = "Kosong";
                    var Data = $scope.DataLogin;
                    var Urlabsen = "api/datas/createAbsen.php";
                    $http({
                            method: "post",
                            url: Urlabsen,
                            data: Data
                        })
                        .then(function(response) {
                            alert(response.data.message)
                        }, function(error) {
                            alert(error.message);
                        })
                }

            })
    </script>

</body>

</html>