<div class="row">
    <!--  page header -->
    <div class="col-lg-12">
        <h1 class="page-header">Data Absen</h1>
    </div>
    <!-- end  page header -->
</div>

<div ng-init="Init()">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="form-group">
                <label>Dari Tanggal</label>
                <input class="form-control" type="date" ng-model="DataTanggal.DariTanggal">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Sampai Tanggal</label>
                <input class="form-control" type="date" ng-model="DataTanggal.SampaiTanggal">
            </div>
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary pull-left" title="Cari Data Absen" ng-click="Cari()">
                            <i class="fa fa-search fa-2x"></i>
                        </button>
        </div>
        <!--<div class="col-md-1">
            <button class="btn btn-primary pull-left" title="Cari Data Absen" ng-click="Cetak()">
                                <i class="fa fa-print fa-2x"></i>
                            </button>
        </div>-->


    </div>
    <br>
</div>

<div class="row" style="margin-top:30px;">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Absen
            </div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Tanggal Absen</th>
                                    <th>Jam Datang</th>
                                    <th>Jam Pulang</th>
                                    <th>Keterangan Hadir</th>
                                    <th>Menit Keterlambatan</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" ng-repeat="itemAbsen in DatasAbsenPegawai.Tanggal">
                                    <td ng-show="itemAbsen.Keterangan=='Hadir'">{{$index+1}}</td>
                                    <td ng-show="itemAbsen.Keterangan!='Hadir'">{{$index+1}}</td>
                                    <td ng-show="itemAbsen.Keterangan!='Hadir'">{{itemAbsen.Tanggal}}</td>
                                    <td ng-show="itemAbsen.Keterangan=='Hadir'">{{itemAbsen.Tanggal}}</td>
                                    <td ng-show="itemAbsen.Keterangan=='Hadir'">{{itemAbsen.JamDatang}}</td>
                                    <td ng-show="itemAbsen.Keterangan=='Tidak Tepat Waktu'">{{itemAbsen.JamDatang}}</td>
                                    <td ng-show="itemAbsen.Keterangan=='Hadir'">{{itemAbsen.JamPulang}}</td>
                                    <td ng-show="itemAbsen.Keterangan=='Tidak Tepat Waktu'">{{itemAbsen.JamPulang}}</td>
                                    <td ng-show="itemAbsen.Keterangan=='Izin'" colspan="4" style="background-color:rgba(101, 198, 255, 0.925);text-align: center!important;">{{itemAbsen.Keterangan}}</td>
                                    <td ng-show="itemAbsen.Keterangan=='Alpha'" colspan="4" style="background-color:rgba(101, 198, 255, 0.925);text-align: center!important;">{{itemAbsen.Keterangan}}</td>
                                    <td ng-show="itemAbsen.Keterangan=='Cuti'" colspan="4" style="background-color:rgba(101, 198, 255, 0.925);text-align: center!important;">{{itemAbsen.Keterangan}}</td>
                                    <td ng-show="itemAbsen.Keterangan=='Hari Sabtu'" colspan="4" style="background-color:rgba(101, 198, 255, 0.925);text-align: center!important;">{{itemAbsen.Keterangan}}</td>
                                    <td ng-show="itemAbsen.Keterangan=='Sakit'" colspan="4" style="background-color:rgba(101, 198, 255, 0.925);text-align: center!important;">{{itemAbsen.Keterangan}}</td>
                                    <td ng-show="itemAbsen.Keterangan=='DL'" colspan="4" style="background-color:rgba(101, 198, 255, 0.925);text-align: center!important;;">{{itemAbsen.Keterangan}}</td>
                                    <td ng-show="itemAbsen.Keterangan=='Hadir'" colspan="2" style="text-align: center!important;">{{itemAbsen.Keterangan}}</td>
                                    <td ng-show="itemAbsen.Keterangan=='Hari Minggu'" colspan="3" style="background-color:rgba(101, 198, 255, 0.925);text-align: center!important;">{{itemAbsen.Keterangan}}</td>
                                    <td ng-show="itemAbsen.Keterangan=='Tidak Tepat Waktu'">{{itemAbsen.Keterangan}}</td>
                                    <td ng-show="itemAbsen.Keterangan=='Tidak Tepat Waktu'" style="background-color:rgba(238, 235, 51, 0.925);">{{itemAbsen.Keterlambatan}}</td>
                                    <td ng-show="itemAbsen.Keterangan!='Tidak Tepat Waktu' && itemAbsen.Keterangan!='Hadir' && itemAbsen.Keterangan!='Hari Minggu' && itemAbsen.Keterangan!='DL' && itemAbsen.Keterangan!='Sakit' && itemAbsen.Keterangan!='Hari Sabtu' && itemAbsen.Keterangan!='Cuti' && itemAbsen.Keterangan!='Alpha' && itemAbsen.Keterangan!='Izin'"
                                        colspan="4" style="background-color:rgba(101, 198, 255, 0.925);text-align: center!important;">{{itemAbsen.Keterangan}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="TambahPerangkat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Tambah Perangkat</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <select class="form-control" ng-options="item as item.Nama for item in DatasPegawai track by item.Nama" ng-model="SelectedItemPegawai"></select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Nip" ng-model="SelectedItemPegawai.Nip">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="MacAddress" ng-model="DataInputPerangkat.MacAddress">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="InsertPerangkat()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UpdatePerangkat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Update Perangkat</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <input class="form-control" placeholder="Nip" ng-model="DataSelected.Nip" disabled>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Nama" ng-model="DataSelected.Nama" disabled>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Mac Address" ng-model="DataSelected.MacAddress">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="UpdateDataPerangkat()">Save changes</button>
            </div>
        </div>
    </div>
</div>